<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <script>
        let status = `<%-JSON.stringify(status)%>`;
        if (JSON.parse(status) == "verified") {
            if (confirm("DO you want to login")) {
                window.location.href = "http://127.0.0.1:5173/auth/login";
            }
        }
    </script>
</head>

<body>
    <h1>

    </h1>
    <div class="container">
        <div class="top-header">
            <h3>Reset Password </h3>
            <p>
                <%=email%>
            </p>
        </div>
        <form action="" method="post">
            <input type="password" name="password" id="password" class="pass" placeholder="password" required>
            <input type="password" name="confirmpassword" id="confirm-password" class="pass"
                placeholder="confirm-password" required>
            <button class="btn" type="submit" value="submit">submit</button>
        </form>
    </div>
</body>

</html>